[tool.poetry]
name = "python-event-sourcery"
version = "0.2.0"
description = ""
authors = ["Your Name <you@example.com>"]
license = "MIT"
packages = [
    { include = "event_sourcery" },
    { include = "event_sourcery_esdb" },
    { include = "event_sourcery_pydantic" },
    { include = "event_sourcery_sqlalchemy" },
    { include = "event_sourcery_kombu" },
]

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
pydantic = "^1.9"
SQLAlchemy = ">=2.0"
esdbclient = ">=0.15"
kombu = {version = "*", optional = true}
cloudevents = {version = "*", optional = true}

[tool.poetry.dev-dependencies]
black = "*"
isort = "*"
flake8 = "*"
bandit = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
mkdocs-material = "^8.3.9"
psycopg2-binary = "^2.9.3"
import-linter = "*"

[tool.poetry.extras]
kombu = ["kombu"]
cloudevents = ["cloudevents"]

[tool.pytest]
addopts = ""

[tool.coverage.run]
branch = true
source = [
    "event_sourcery",
    "event_sourcery_esdb",
    "event_sourcery_pydantic",
    "event_sourcery_sqlalchemy",
    "event_sourcery_kombu",
]

[tool.coverage.report]
fail_under = 100
show_missing = true
skip_covered = true
exclude_lines = [
    "pragma: no cover",
    "pass",
    "NotImplementedError",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
