[tool.poetry]
name = "python-event-sourcery"
version = "0.1.1"
description = ""
authors = ["Your Name <you@example.com>"]
license = "MIT"
packages = [
    { include = "event_sourcery" },
    { include = "event_sourcery_pydantic" },
    { include = "event_sourcery_sqlalchemy" },
]

[tool.poetry.dependencies]
python = "3.10"
pydantic = "^1.9"
SQLAlchemy = "^1.4"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
isort = "^5.10.1"
flake8 = "^4.0.1"
bandit = "^1.7.4"
mypy = "^0.971"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"

[tool.pytest]
addopts = ""

[tool.coverage.run]
branch = true
source = [
    "event_sourcery",
    "event_sourcery_pydantic",
    "event_sourcery_sqlalchemy",
]

[tool.coverage.report]
fail_under = 100
show_missing = true
skip_covered = true
exclude_lines = [
    "pragma: no cover",
    "pass",
    "NotImplementedError",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
