name: Bump version and publish

on:
  push:
    branches: [ main ]

env:
  PYTHON_VERSION: "3.10"
  POETRY_VERSION: "1.8.2"

jobs:
  bump-and-publish:
    if: github.event.head_commit.message != 'Autobump version'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Cache Poetry cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pypoetry
        key: poetry-cache-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ env.POETRY_VERSION }}
    - name: Cache Packages
      uses: actions/cache@v2
      with:
        path: ~/.local
        key: poetry-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('.github/workflows/*.yml') }}
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install poetry and the plugin
      run: |
        python -m pip install --upgrade pip poetry==${{ env.POETRY_VERSION }}
        poetry self add poetry-bumpversion
    - name: Bump version
      run: |
        poetry version prerelease
    - uses: EndBug/add-and-commit@v9
      with:
        add: pyproject.toml
        author_name: Python Event Sourcery Bot
        message: 'Autobump version'
    - name: Publish prerelease
      env: # Or as an environment variable
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        poetry config pypi-token.pypi $PYPI_TOKEN
        poetry publish --build
